/*body {
    background-color: #faffee;
}*/

/* NAVBAR */ 

.navbar.navbar-inverse {
    top: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #19191f;
}

nav img {
    float: left;
    margin: 28px -226px 0 40px; /* -226 removes right-side offset for other content */
    height: 59px;
    width: 186px;
}

.nav.navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 67px;
}

.nav.navbar-nav li a {
    display: block;
    width: 100px;
    padding: 6px 0px;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
}

.nav.navbar-nav li a:hover, 
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active {
    border-bottom: 6px solid #08ca75;
    padding: 6px 0px 0px;
}


/* All Pages */

.row.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row.flex .col.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* shows borders */
.row,
.col {
    border: 1px solid white;
}

/*SPECIFY*/

/* Specify Sidebar */

#sidebarLeft {
    width: 400px;
    height: 500px;
}

/* Specify Settings */
.settings {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #19191f; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.settings .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 20px;
    /*margin-left: 50px;*/
    /*color: white;*/
}

.settings a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}

.settings a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.settings ul {
    color: white;
    font-size: 14px;
}

/* Specify Pages */
.stl {
    height: 36px;
    /*display:none;*/
}

.functional {
    display: none;
    height: 34px;
}

.text-muted.functional {
    margin: 12px 0px -6px;
}

.struct {
    display: none;
}

.struct.struct-top-row {
    height: 31px;
}

.container.pull-left {
    width: calc(100% - 100px);
    height: 500px;
}

.btn.btn-default.round {
    border-radius: 24px;
    border-color: #08ca75;
    border-width: 3px;
    color: #08ca75;
    width: 129px;
    height: 41px;
    font-size: 14px;
}

.btn.btn-sm.btn-default.round {
    border-radius: 20px;
    border-color: #08ca75;
    border-width: 3px;
    color: #08ca75;
    width: 89px;
    height: 31px;
    font-size: 12px;
}

.btn.btn-default.round:hover {
    background-color: #08ca75;
    color: white;
}

#editor {
    height: 500px;
    width: 100%;
    background-color: white;
}

.col-xs-12.editor {
    margin: 10px 0px;
    border: 1.5px solid #D6D6D6;
    border-radius: 24px;
}

.img-logo-small {
    width: 100px;
    height: 38px;
    margin-left: -10px;
}

.structbox {
    margin: 10px 0px;
    border: 1.5px solid #D6D6D6;
    border-radius: 24px;
    height: 500px;
    padding: 20px 0px;
}


.struct-header {
    font-weight: bold;
    font-size: 14px;
}

.struct-text {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-top: 8px;
}

.no-radius {
    border: none !important;
    border-radius: 0px !important;
    outline: none;
    /*display: block;*/
    width: 100%;
    text-align: left;
}

.btn-settings {
    border: none;
    text-align: left;
    padding-left: 0px;
}

.text-muted {
    color: #9b9b9b;
}

/* layout.css Style */
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
  width: 100%;
}

.upload-drop-zone {
  color: #9B9B9B;
  border-style: dashed;
  border-color: #9B9B9B;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



/* GRIDTLI STYLE */

/* GridTLI Canvas */

#myCanvas {
    width: 100%;
    height: 100%;
}

.row.grid {
    text-align: center;
}

.col.col-xs-6.grid,
.col.col-xs-12.grid,
.col.col-xs-6.grid > input,
.col.col-xs-12.grid > input {
    text-align: center;
}

.verticaltext {
    position: relative;
    min-width: 150px;
    margin: 87px -5px;
    font-size: 12px;
}

.verticaltext.content {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
}
